.button {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: 3px solid white;
  cursor: pointer;
}
