.form {
  width: 90%;
  padding: 80px 157px 20px 100px;
  background-color: rgba(16, 38, 84, 1);
}

.form__inner-wrap {
  max-width: 450px;
  margin-left: auto;
}

.form__inner-wrap h2 {
  margin: 0 0 32px;
  font-size: 49px;
  letter-spacing: 1.5px;
  color: white;
}

.form__list {
  display: flex;
  margin: 0 0 26px;
  padding: 0;
}

.form__item input {
  margin-right: 15px;
  padding-bottom: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  background-color: rgba(16, 38, 84, 1);
  color: white;

  &::placeholder {
    font-size: 14px;
    color: white;
  }
}

.form__btn {
  width: 97%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: transparent;
  font-size: 12px;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;

  &:hover {
    background-color: white;
    color: rgba(16, 38, 84, 1);
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

@media only screen and (max-width: 1199px) {
  .form {
    width: 100%;
    padding: 78px 160px 70px 130px
  }

  .form__inner-wrap {
    max-width: 480px;
  }

  .form__inner-wrap h2 {
    margin: 0 0 25px;
    font-size: 42px;
  }

  .form__list {
    width: 100%;
    margin: 0 0 30px;
  }

  .form__item {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  .form__item input {
    margin-right: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    letter-spacing: -0.5px;
  }

  .form__btn {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .form {
    padding: 70px 15px 66px 15px;
  }

  .form__inner-wrap {
    width: 100%;
  }

  .form__inner-wrap h2 {
    font-size: 32px;
    letter-spacing: 1px;
    white-space: nowrap;
  }

  .form__list {
    flex-direction: column;
    margin: 0 0 20px;
  }

  .form__item {
    width: 100%;
    margin-bottom: 17px;
  }
}
