.gym-membership {
  position: relative;
  font-size: 49px;
  text-align: center;
  background-color: rgba(248, 249, 252, 1);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -150px;
    width: 287px;
    height: 494px;
    background-image: url("../img/rogue-desktop.png");
    background-repeat: no-repeat;
    background-size: 287px 494px;
    background-position: 0 0;
  }
}

.gym-membership__wrap {
  max-width: 1160px;
  margin: 0 auto;
  padding: 135px 0 83px;
}

.gym-membership__list {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 48px;
  margin: 0 auto 36px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  list-style: none;
}

.gym-membership__title {
  margin: 0 0 41px;
  font-size: 49px;
  letter-spacing: 1px;
}

.gym-membership__list-card {
  position: absolute;
  top: 285px;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  transform: translateX(50px);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  list-style: none;
}

.gym-membership__list-card--active {
  position: static;
  transition-delay: 0.5s;
  z-index: 10;
  opacity: 1;
  transform: translateX(0);
}

.gym-membership__item-card {
  width: 31%;
  padding: 57px 67px 60px;
  margin-bottom: 36px;
  text-align: center;
  background-color: white;
  border: 7px solid transparent;
  cursor: pointer;

  &:hover {
    border-image: linear-gradient(to bottom, rgba(209, 10, 66, 1), rgba(0, 65, 202, 1));
    border-image-slice: 1;
  }
}

.gym-membership__heading {
  margin: 0 0 13px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 26px;
  white-space: pre-wrap;
}

.gym-membership__description {
  width: 100%;
  margin-bottom: 80px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
}

.gym-membership__price-bg {
  position: absolute;
  display: flex;
  margin: 0 auto;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 100px;
  color: rgba(232, 232, 232, 1);
  opacity: 0.5;
}

.gym-membership__price {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 60px;
  margin-bottom: 48px;
  padding-left: 17px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  background-image: url("../img/rub-desktop.png");
  background-repeat: no-repeat;
  background-size: 30px 42px;
  background-position: 158px 8px;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(16, 58, 174, 1);
  z-index: 1;
}

.gym-membership__item {
  height: 48px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  border: 2px solid transparent;
  background: none;
  color: rgba(16, 38, 84, 0.5);
  cursor: pointer;

  &:hover {
    border-color: rgba(209, 10, 66, 1);
  }
}

.gym-membership__item--active {
  border-bottom: 2px solid rgba(209, 10, 66, 1);
  color: rgba(16, 38, 84, 1);
}

.gym-membership__link {
  width: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 13px;
  letter-spacing: 2px;
  border: 2px solid rgba(16, 38, 84, 1);
  color: rgba(16, 38, 84, 1);

  &:hover {
    padding-top: 23px;
    padding-bottom: 23px;
    background: linear-gradient(to right, rgba(209, 10, 66, 1), rgba(0, 65, 202, 1));
    border: none;
    color: white;
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.gym-membership__link--active {
  padding-top: 23px;
  padding-bottom: 23px;
  background: linear-gradient(to right, rgba(209, 10, 66, 1), rgba(0, 65, 202, 1));
  border: none;
  color: white;
}

@media only screen and (max-width: 1199px) {
  .gym-membership::before {
    right: 0;
    bottom: -125px;
    width: 347px;
    height: 444px;
    background-image: url("../img/rogue-tablet.png");
    background-repeat: no-repeat;
    background-size: 347px 444px;
    background-position: 0 0;
  }

  .gym-membership__wrap {
    max-width: 678px;
    padding: 111px 118px 100px;
  }

  .gym-membership__title {
    margin: 0 0 30px;
    font-size: 42px;
  }

  .gym-membership__description {
    margin-top: 0;
  }

  .gym-membership__list-card {
    top: 256px;
    left: 112px;
    width: 445px;
    margin: 0;
    flex-direction: column;
  }

  .gym-membership__list {
    width: 78%;
    margin: 0 auto 45px;
    font-size: 18px;
  }

  .gym-membership__item-card {
    width: 442px;
    margin: 0 auto 41px;
    padding: 58px 109px 60px;
    background-position: 267px 212px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .gym-membership::before {
    display: none;
  }

  .gym-membership__wrap {
    max-width: 290px;
    padding: 75px 0 120px;
  }

  .gym-membership__title {
    margin: 0 0 16px;
    font-size: 32px;
  }

  .gym-membership__list-card {
    width: 290px;
    transform: translateX(0);
  }

  .gym-membership__list {
    width: 290px;
    margin: 0 auto 34px;
    font-size: 16px;
  }

  .gym-membership__item-card {
    width: 100%;
    padding: 42px 33px 49px;
    margin: 0 auto 35px;
  }

  .gym-membership__heading {
    margin: 0 0 7px;
    font-size: 22px;
  }

  .gym-membership__description {
    margin: 0 0 63px;
  }

  .gym-membership__price-bg {
    left: 0;
    right: 0;
    justify-content: center;
    font-size: 80px;
  }

  .gym-membership__price {
    padding-left: 40px;
    margin-bottom: 36px;
    background-image: url("../img/rub-mobile.png");
    background-repeat: no-repeat;
    background-size: 24px 33px;
    background-position: 148px 15px;
    font-size: 48px;
    text-align: center;
  }
}
