.intro {
  background-image: url("../img/background-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.intro__wrap {
  position: relative;
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding: 50px 0 50px;
}

.intro__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 34%;
  margin-right: 65px;
  padding-top: 129px;
}

.intro__heading {
  margin: 0 0 59px;
  font-size: 109px;
  text-align: end;
  line-height: 107px;
  letter-spacing: 4px;
  color: white;
  order: 2;
}

.intro__title {
  margin: 0 0 28px;
  font-size: 49px;
  font-weight: 300;
  text-align: end;
  letter-spacing: 3px;
  color: white;
  order: 1;
}

.intro__description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 190px;
  display: inline-block;
  width: 33%;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  text-align: end;
  line-height: 20px;
  color: white;
}

.intro__link {
  width: 235px;
  font-size: 12px;
  letter-spacing: 2px;
  z-index: 1;
  color: white;
  order: 3;

  &:active,
  &:focus {
    opacity: 0.5;
  }

  &:hover {
    background-color: white;
    color: rgba(16, 38, 84, 1);
  }
}

.intro__img-wrap {
  width: 500px;
  height: 556px;
  background-image: url("../img/promo-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 500px 556px;
  background-position: 0 0;
}

.intro__social {
  position: absolute;
  left: 0;
  right: 0;
  top: 480px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
}

.intro__social a {
  margin-bottom: 10px;
  color: white;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1199px) {
  .intro {
    background-image: url("../img/background-tablet@1x.png");
    background-size: cover;
    background-position: 0 0;
  }

  .intro__wrap {
    max-width: 678px;
    padding: 82px 0 83px;
  }

  .intro__wrapper {
    width: 48%;
    padding-top: 59px;
    margin-right: 30px;
  }

  .intro__img-wrap {
    width: 324px;
    height: 390px;
    background-image: url("../img/promo-tablet@1x.jpg");
    background-size: 324px 390px;
  }

  .intro__heading {
    width: 75%;
    margin: 0 0 35px;
    font-size: 86px;
    line-height: 90px;
    letter-spacing: 3px;
  }

  .intro__title {
    margin-bottom: 9px;
    font-size: 34px;
    letter-spacing: 1px;
  }

  .intro__description {
    left: -25px;
    bottom: 148px;
    width: 42%;
  }

  .intro__link {
    width: 185px;
  }

  .intro__social {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .intro {
    background-image: url("../img/background-mobile@1x.png");
    background-size: cover;
  }

  .intro__wrap {
    max-width: 290px;
    padding: 55px 0 45px;
  }

  .intro__wrapper {
    width: 290px;
    margin-right: 0;
  }

  .intro__heading {
    margin: 0 0 40px;
    font-size: 78px;
    letter-spacing: 2px;
    line-height: 82px;
  }

  .intro__title {
    font-size: 28px;
    letter-spacing: 1px;
  }

  .intro__description {
    left: -9px;
    bottom: 150px;
  }

  .intro__link {
    width: 290px;
  }
}
