.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68.5%;
}

.nav_list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  padding-left: 14px;
  padding-right: 28px;
  font-size: 14px;
  list-style: none;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.nav__link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: white;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

@media only screen and (max-width: 1199px) {
  .nav {
    width: 80%;
  }

  .nav__item {
    padding-left: 14px;
    padding-right: 20px;

    &:first-child {
      padding-left: 25px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 35px;
  }

  .nav_list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .nav__item {
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 16px;

    &:first-child {
      padding-left: 0;
    }
  }

  .nav__item--2 {
    position: absolute;
    bottom: 0;
    padding: 0;
  }

  .nav__item--3 {
    position: absolute;
    top: 0;
    right: 89px;
    padding: 0;
  }

  .nav__item--4 {
    position: absolute;
    right: 73px;
    top: 39px;
    padding: 0;
  }

  .nav__item--5 {
    position: absolute;
    right: 50px;
    bottom: 0;
    padding: 0;
  }
}
