.offer__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 130px 0 100px;
}

.offer__heading {
  margin: 0 0 65px;
  font-size: 49px;
  text-align: center;
}

.offer__wrap {
  display: flex;
}

.offer__price {
  display: flex;
  width: 49%;
  margin-right: 40px;
}

.offer__sale-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 49%;
  list-style: none;
}

.offer__sale-item {
  margin-bottom: 35px;
  padding: 26px 32px;
  border: 7px solid rgba(28, 51, 116, 1);
  border-image: linear-gradient(to bottom, rgba(209, 10, 66, 1), rgba(0, 65, 202, 1));
  border-image-slice: 1;

  &:last-child {
    margin-bottom: 0;
  }
}

.offer__sale-item h3 {
  margin: 0 0 10px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.offer__sale-item p {
  margin: 0 0 64px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.offer__price-text {
  display: flex;
  flex-direction: column;
  width: 88%;
  padding: 3vw;
  background-color: rgba(237, 2, 51, 1);
}

.offer__year {
  display: inline-block;
  vertical-align: auto;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.offer__num {
  margin-bottom: 45px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.offer__price-text p {
  margin: 0 0 185px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  color: white;
  letter-spacing: 0.5px;
}

.offer__img-wrap {
  width: 100%;
  background-image: url("../img/offer-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px 100%;
  background-position: 0 0;
}

.offer__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer__link {
  width: 40%;
  margin-top: auto;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  color: white;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.offer__link--two {
  font-size: 12px;
  color: rgba(28, 51, 116, 1);
}

@media only screen and (max-width: 1199px) {
  .offer__wrapper {
    max-width: 678px;
    padding: 108px 0 100px;
  }

  .offer__heading {
    margin: 0 0 50px;
    font-size: 42px;
  }

  .offer__wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .offer__price {
    width: 100%;
    margin-right: 0;
    margin-bottom: 29px;
  }

  .offer__price-text {
    width: 65%;
    padding: 44px 39px 42px 40px;
  }

  .offer__sale-list {
    flex-direction: row;
    width: 100%;
  }

  .offer__sale-item {
    width: 48%;
    margin-bottom: 0;
    padding: 27px 66px 23px 29px;
  }

  .offer__sale-item p {
    margin: 0 0 40px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
  }

  .offer__img-wrap {
    width: 100%;
    background-image: url("../img/offer-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 399px 462px;
    background-position: 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .offer__wrapper {
    max-width: 290px;
    padding: 70px 0 60px;
  }

  .offer__heading {
    font-size: 32px;
  }

  .offer__price {
    flex-direction: column;
    margin-bottom: 33px;
  }

  .offer__price-text {
    width: 100%;
    align-items: center;
    padding: 48px 15px;
    text-align: center;
  }

  .offer__num {
    margin-bottom: 37px;
  }

  .offer__price-text p {
    width: 80%;
    margin-bottom: 19px;
  }

  .offer__sale-list {
    flex-direction: column;
  }

  .offer__sale-item {
    width: 100%;
    padding: 33px 0 30px;
    margin-bottom: 33px;
    text-align: center;
  }

  .offer__sale-item p {
    width: 60%;
    margin: 0 auto 22px;
  }

  .offer__img-wrap {
    width: 100%;
    height: 299px;
    background-image: url("../img/offer-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 290px 299px;
    background-position: 0 0;
  }
}
