.promo__wrapper {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  padding: 123px 0;
}

.promo__text-content {
  display: flex;
  flex-direction: column;
  width: 43%;
  padding: 82px 75px 85px 78px;
  letter-spacing: 3px;
  background-color: rgba(237, 2, 51, 1);
}

.promo__visual-content {
  width: 57%;
  background-image: url("../img/super-games-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: 660px 500px;
  background-position: 0 0;
}

.promo__heading {
  margin: 0 0 12px;
  font-size: 90px;
  line-height: 88px;
  color: white;
}

.promo__text {
  display: flex;
}

.promo__date {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

.promo__date-text {
  display: inline-block;
  width: 66%;
  margin-bottom: 9px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-bottom: 0.5px solid white;
  color: white;
}

.promo__date-name-wrap {
  display: flex;
  align-items: center;
  width: 80%;
}

.promo__date-num {
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}

.promo__date-name {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: white;
}

.promo__time-text {
  display: inline-block;
  width: 95%;
  margin-bottom: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-bottom: 0.5px solid white;
  color: white;
}

.promo__date-time {
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: white;
}

.promo__description {
  width: 100%;
  margin: 0 0 48px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  color: white;
}

.promo__link {
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: white;

  &:hover {
    background-color: white;
    color: rgba(16, 38, 84, 1);
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.promo__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .promo__wrapper {
    max-width: 678px;
    padding: 100px 0;
  }

  .promo__text-content {
    width: 43%;
    padding: 42px 43px 50px 44px;
  }

  .promo__heading {
    font-size: 52px;
    line-height: 57px;
    margin: 0;
  }

  .promo__date {
    margin-bottom: 0;
  }

  .promo__date-text {
    font-size: 12px;
    margin-bottom: 0;
  }

  .promo__date-num {
    font-size: 24px;
  }

  .promo__date-name {
    font-size: 10px;
    line-height: 15px;
  }

  .promo__time-text {
    margin-bottom: 3px;
    font-size: 12px;
  }

  .promo__date-time {
    font-size: 24px;
  }

  .promo__description {
    margin: 0 0 20px;
    font-size: 12px;
    letter-spacing: 0;
  }

  .promo__link {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
  }

  .promo__visual-content {
    width: 57%;
    background-image: url("../img/super-games-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 386px 294px;
    background-position: 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .promo__wrapper {
    flex-direction: column;
    max-width: 290px;
    padding: 72px 0 59px;
  }

  .promo__text-content {
    width: 100%;
    padding: 46px 40px 48px 40px;
  }

  .promo__text {
    justify-content: space-between;
    width: 100%;
    height: 105px;
  }

  .promo__heading {
    width: 210px;
    margin-right: 22px;
  }

  .promo__description {
    margin: 0 0 27px;
    letter-spacing: 0.2px;
  }

  .promo__time-text {
    height: 22px;
  }

  .promo__date-text {
    height: 23px;
  }

  .promo__visual-content {
    width: 100%;
    height: 292px;
    background-image: url("../img/super-games-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 290px 292px;
    background-position: 0 0;
  }
}
