.timetable__wrap {
  display: flex;
}

.timetable__heading {
  margin: 0 0 65px;
  font-size: 52px;
  text-align: center;
}

.timetable__workout-wrap {
  width: 100%;
  padding: 130px 60px;
}

.timetable__days-list {
  display: flex;
  justify-content: flex-end;
  width: 94%;
  margin: 0 auto 8px;
  padding: 0;
}

.timetable__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 66px;
  margin-right: 9px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid rgba(28, 51, 116, 1);
}

.timetable__workout-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.timetable__workout-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 110px;
  margin-right: 9px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(248, 249, 252, 1);
}

.timetable__workout-item--time {
  width: 65px;
  margin-bottom: 9px;
  border: 1px solid rgba(28, 51, 116, 1);
  background: none;
}
