.trainers__wrap {
  max-width: 1160px;
  margin: 0 auto;
  padding: 6px 0 110px;
}

.trainers__heading {
  margin: 0 0 63px;
  font-size: 49px;
  letter-spacing: 1px;
}

.trainers__info-list {
  position: absolute;
  top: 0;
  width: 260px;
  height: 294px;
  margin: 0;
  padding: 127px 19px 40px 72px;
  text-align: center;
  letter-spacing: 0.2px;
  background: rgba(16, 38, 84, 0.89);
  visibility: hidden;
}

.trainers__info-item {
  margin-bottom: 11px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  text-align: left;
  list-style: disc;
  color: white;
}

.trainers__info-item h4 {
  margin: 0;
  visibility: hidden;
}

.trainers__info-item--name {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  font-size: 18px;
  text-align: center;
}

.trainers__item-slide {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    h3 {
      visibility: hidden;
    }

    .trainers__info-list,
    .trainers__info-item h4 {
      visibility: visible;
    }
  }
}

.trainers__item-slide.slick-slide h3 {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  visibility: visible;
}

.trainers__item-slide.slick-slide.slick-active {
  &:hover h3 {
    visibility: hidden;
  }
}

.trainers__info-item--name,
.trainers__info-item--skill {
  list-style: none;
}

.trainers__info-item--skill {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  font-size: 15px;
  text-align: center;
}

.trainers__img {
  object-fit: cover;

  &:hover {
    .trainers__info-list {
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .trainers__wrap {
    max-width: 678px;
    padding: 6px 0 90px;
  }

  .trainers__heading {
    margin: 0 0 54px;
    font-size: 42px;
    text-align: center;
  }

  .trainers__container {
    width: 566px;
    margin: 0 auto;
  }

  .trainers__item-slide {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .trainers__wrap {
    max-width: 290px;
    padding: 15px 0 72px;
  }

  .trainers__container {
    width: 226px;
  }

  .trainers__heading {
    margin: 0 0 45px;
    font-size: 32px;
  }

  .slick-prev {
    left: 13px;
    top: 49%;
  }

  .slick-next {
    right: 13px;
    top: 49%;
  }
}
